<h1>Editing immunization</h1>

<%= render "form", immunization: @immunization %>

<br>

<div>
  <%= link_to "Show this immunization", @immunization %> |
  <%= link_to "Back to immunizations", immunizations_path %>
</div>
